body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 90%;
    height: 30px;
    padding: 10px 20px;
    background-color:#f4f4f4;  /*#f1f1f1*/
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}
.header > * {
    margin-left: 25px;
}

.container {
    width: 80%;
    min-width: 250px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.box {
    display: flex;
}
.category {
    width: 45%;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    min-height: 200px;
}

.droppable {
    /*box-sizing: border-box;*/
    min-height: 100px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}
.draggable {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    cursor: move;
}
.button {
    appearance: none;
    margin: auto;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.button.m {
    margin: 5px;
}
.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
.button:hover {
    background-color: #2c974b;
}
.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}
.button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
.button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
#control-div {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 10px;
    margin: auto;
    margin-top: 20px; /* Fügt einen Abstand von 20px oben hinzu */
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
#points {
    font-size: 20px; /* Ändern Sie die Schriftgröße hier */
    text-align: center; /* Zentriert den Text */
    display: flex;
}
div.db {
    font-weight: bold;
}
.result {
    text-align: center;
}