body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 90%;
    height: 30px;
    padding: 10px 20px;
    background-color:#f4f4f4;  /*#f1f1f1*/
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}
.header > * {
    margin-left: 25px;
}
div.db {
    font-weight: bold;
}
.container {
    width: 80%;
    min-width: 250px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.box {
    align-items: center;
}
.flexbox {
    display: flex;
    align-items: center;
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.controls input[type=range] {
    width: 200px;
}

.password-display {
    font-size: 1.2em;
    margin: 20px 0;
}

.strength-meter {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 20px auto;
}

#strength-bar {
    height: 100%;
    width: 0;
    border-radius: 5px;
}

#strength-description {
    font-size: 1.2em;
    margin-top: 10px;
}

.button.m {
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: #fff;
    background-color: #2ea44f;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 35, .15);
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    margin: 5px;
}