
/* --------------------------- */
/* Basis-Stile */
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sidenav {
    flex: 1 1 40%;
    min-width: 200px; /* Minimum width for the sidenav */
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
}

.main {
    flex: 1 1 60%;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 25%;
    box-sizing: border-box;
}

.login-main-text{
    padding: 60px;
    color: #fff;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.input-form{
    margin: 5px;
}

/* Responsive Design für kleinere Bildschirme */
@media (max-width: 768px) {
    .sidenav, .main {
        flex: 1 1 100%;
        padding-top: 10%;
    }
}

/* Responsive Design für kleinere Tab + Smartphone */
@media (max-width: 400px) {
    .sidenav, .main {
        flex: 1 1 100%;
        padding-top: 5%;
    }
}