.container {
    display: flex;
    justify-content: space-around;
}

.category {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    width: 45%;
}

.droppable {
    min-height: 100px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.draggable {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: move;
}