body {
    /*background-image: url('../img/Bild_1.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100vh 100vh;*/
    /*background-size: cover;*/
    background-color:#f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 90%;
    height: 30px;
    padding: 10px 20px;
    background-color:burlywood;  /*#f1f1f1*/
    /*background-color:#f4f4f4;  /*#f1f1f1*/
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}
.header > * {
    margin-left: 25px;
}
div.db {
    font-weight: bold;
}
.container {
    width: 80%;
    min-width: 250px;
    text-align: center;
    background-color: #999;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.box {
    align-items: center;
    height: auto;
}

.flexbox {
    display: flex;
}

.flexbox .box {
    width: 50%;
}

.tutorial {
    text-align: left;
    color: black;
}
#result {
    margin-top: 20px;
    color: #298e46;
    font-size: 12;
    font-weight: bold;
}
#userinfo {
    margin: 5px;
    color: red;
}

/* Style für Passwort Sortierer Controls */
#passwords {
    background-color: #298e46;
    min-height: 40px;
    display: flex;
    border-radius: 5px;
}

.category {
    width: 45%;
    border: 2px solid #333;
    background-color:#ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    min-height: 200px;
}
.droppable {
    /*display: flex;
    flex-wrap: wrap;*/
    box-sizing: border-box;
    min-height: 100px;
    border: 2px dashed #888;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}
.draggable {
    /*align-self: flex-start;*/
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: move;
}

/* Style für Passwort Strength Simulatot Controls */
.boxframe {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 500px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #aaa;
}
.controls {
    margin-bottom: 20px;
}
.controls label {
    display: inline-block;
    width: 30%;
    text-align: left;
}
.controls input[type=number] {
    background-color: #94d3a2;
    -moz-appearance: textfield; /* Up-Down-Pfeile in Firefox ausblenden*/
}
/* Up-Down-Pfeile in Chrome, Safari, Edge, Opera ausblenden*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.controls input[type=range] {
    width: 30%;
}
.controls input[type=range].toggle {
    width: 10%;
}
.password-display {
    font-size: 1.2em;
    margin: 20px 0;
}
.strength-meter {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 20px auto;
}
#strength-bar {
    height: 100%;
    width: 0;
    border-radius: 5px;
}
#strength-description {
    font-size: 1.0em;
    margin-top: 10px;
}

/* Style für Leaderboard */

table {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 40px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color:#94d3a2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color:cadetblue;
}

thead {
    background-color: #f7f7f7;
}

tfoot {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Style für Guess the Password */
.tablediv{
    width: 50%;
}

img {
    width: 60%;
    border-radius: 10px;
    /*border: 2px solid #ccc;*/
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

/* Controls unten (Auflösen, Neu starten, ...) */

.button.m {
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: #fff;
    background-color: #2ea44f;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 35, .15);
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    margin: 5px;
}
.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
.button:hover {
    background-color: #2c974b;
}
.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}
.button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
.button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.logout-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
    background-color: #ff1c2e;
    transform: translateY(-2px);
}

.logout-button:active {
    background-color: #ff4b5c;
    transform: translateY(0);
}

.logout-button:focus {
    outline: none;
}

@media (max-width: 1400px) {
    .flexbox {
        display: block;
    }
    .category {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .flexbox .box {
        margin: 0;
        padding: 0;
        min-width: 0;
        width: 100%;
    }
    .boxframe {
        min-width: 0;
        width: 80%;
    }
    .controls label {
        display: inline-block;
        width: 60%;
        text-align: left;
    }
    .tablediv{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}